doctype 5
html(lang='en')
    head
        - var pathToAssets = './assets'
        - var pathToSelectedTemplateWithinBootstrap = './assets/dist/css'
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
        title {{page.title}}

        // Bootstrap core CSS
        link(href='#{pathToAssets}/dist/css/bootstrap.css', rel='stylesheet')
        link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')

        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE 9
              script(src='#{pathToAssets}/assets/js/html5shiv.js')
              script(src='#{pathToAssets}/assets/js/respond.min.js')

        // Custom styles for this template
        link(href='./assets/css/styling.css', rel='stylesheet')

    //
        NAVBAR
    body
        header
            .container.header-container
              .navbar-wrapper
                  .navbar.navbar-inverse.navbar-static-top
                      .navbar-header
                          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                              span.icon-bar
                              span.icon-bar
                              span.icon-bar
                          // a.navbar-brand(href='#') Project name
                      .navbar-collapse.collapse
                          ul.nav.navbar-nav
                            //- show all pages in nav, mark the right one as active
                            | {% for node in site.pages%}
                            |   {% if page.url == node.url %}
                            |     <li class="active"><a href=".{{node.url}}" class="active">{{node.title}}</a></li>
                            |   {% else %}
                            |     <li><a href=".{{node.url}}">{{node.title}}</a></li>
                            |   {% endif%}
                            | {% endfor %}
                            li: a(href='http://reddit.com/r/Civcraft/') Subreddit
                            // li: a(href='http://civcraft.org/') Wiki
                            li: a.server-ip(data-html='true', data-placement='auto right', data-title='Server IP', data-content='minecraft server ip: mc.civcraft.vg<br>mumble server ip: mc.civcraft.vg') Server&nbsp;IP
              img.layer.display.civlogo(src='./assets/img/logo.png')
        // Wrap the rest of the page in another container to center all the content.
        .container
            {{ content }}
        //
            Bootstrap core JavaScript


        // Placed at the end of the document so the pages load faster
        script(src='#{pathToAssets}/assets/js/jquery.js')
        script(src='#{pathToAssets}/dist/js/bootstrap.min.js')
        script(src='#{pathToAssets}/assets/js/holder.js')
        script(src='./assets/js/jquery.fitvids.js')
        script.
          $(document).ready(function() {
            function getRandomInt(min, max) {
              return Math.floor(Math.random() * (max - min + 1)) + min;
            }
            render = getRandomInt(1, 7);
            $('header').css("background-image", "url('./assets/img/blurredrenders/" + render + ".jpg')"); 

            $('header').hover(function() { 
              $('header').css("background-image", "url('./assets/img/renders/" + render + ".jpg')"); 
            }).mouseleave(function(){
              $('header').css("background-image", "url('./assets/img/blurredrenders/" + render + ".jpg')"); 
            });
          });

        script.
          $(document).ready(function() {
            $('#video').fitVids();
            $('.server-ip').popover();
          });

